:root {
    box-sizing: border-box;
    --main-color: hsl(194, 86%, 57%);
    --trans-white-0: hsla(0, 0%, 100%, 0);
    --trans-white-70: hsla(0, 0%, 100%, 0.7);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

:is(*, ::before, ::after) {
    box-sizing: inherit;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

span {
    text-transform: uppercase;
}

footer {
    margin-top: 15em;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-left: none;
    border-right: none;
}

/* Skeleton css media query for phablet devices -- adding more margin to footer to enhance visuals */
@media (min-width: 550px) {
    footer {
        margin-top: 19em;
    }
}

footer > P {
    margin: 0;
}

/* fixme: stacking context with the (.container) is resizing this class when processing data... */
.background {
    background-image: url(pexels-daniel-dan-7712570.jpg);
    background-blend-mode: luminosity;
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.app-title {
    padding-top: 1em;
    color: var(--white);
}
/* Skeleton css media query for landscape devices -- enlarging title font size */
@media (min-width: 750px) {
    .app-title {
        font-size: 3em;
    }
}
@media (min-width: 1000px) {
    .app-title {
        font-size: 4em;
    }
}

.container {
    background-color: var(--trans-white-70);
    border: var(--black) solid 2px;
    width: 70%;
    margin-top: 5%;
    border-radius: 1em;
    padding: 2em;
}

.loader {
    display: none;
    margin: 2.5rem auto;
    border: 0.25em solid var(--main-color);
    border-top: 0.25em solid var(--trans-white-0);
    border-radius: 100%;
    width: 5em;
    height: 5em;
    animation: spin 1s linear infinite;
}
.submit {
    color: var(--black);
    background-color: var(--white);
    border: var(--black) 2px solid;
}

.result {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--black);
    padding: 2em 0;
}

.server-time {
    margin-bottom: -2em;
}

/* Utility class */
.text-align-center {
    text-align: center;
}

/* Animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
